<!-- Mensaje para verificar que el componente se carga correctamente 
<p>home works!</p> -->

<div class="container my-5">
    <div class="bg-light p-4 text-center rounded shadow">
       
        <img src="assets/LOGO2.png" alt="Logo" class="img-fluid mb-4" style="max-width: 200px;">
        
        <h5 class="fw-bold m-3">¡Bienvenido(a) a nuestro Catálogo de Películas!</h5>
        
        <p class="small py-3 px-5">
          Aquí podrás explorar una extensa colección de películas de diferentes géneros, desde acción hasta drama, comedia y ciencia ficción. Desde los últimos estrenos hasta los clásicos que nunca pasan de moda.
          Cada película viene acompañada de una sinopsis que te ayudará a conocer más sobre la trama y los personajes. 
          Navega por nuestras categorías y encuentra tu próxima película favorita. 
          ¡Sumérgete en el mundo del cine y descubre tus próximas películas favoritas!
      </p>
      
        
        <a href="/movies" class="btn btn-custom btn-lg mt-2 mb-3">Ver Catálogo</a> <!-- Botón para ir al catálogo de películas -->
    </div>
</div>

