.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    object-fit: cover; /* Asegur que la imagen se ajuste al contenedor */
    height: 200px; /* Altura fija para todas las imágenes */
}

.card-body {
    background-color: #f8f9fa; /* Color de fondo más claro para el cuerpo de la tarjeta */
}
